<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <center>
        <h1>OpenUp User IBeacon Data Records</h1>
        <h3>Testing</h3>
    </center>
    <table border="2" , align="center">
        <tr>
            <th>Major</th>
            <th>Minor</th>
            <th>Timestamp</th>
        </tr>
        {% for n in names %}
        <tr>
            <td>{{ n['Major'] }}</td>
            <td>{{ n['Minor'] }}</td>
            <td>{{ n['Timestamp'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>