[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uuid = "*"
Flask = "==1.1.2"
PyJWT = "*"
DateTime = "*"
Flask-SQLAlchemy = "*"

[dev-packages]

[requires]
python_version = "3.8"
